<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">-->
<!-- Using the CDN for the temp purpose now-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!--<p>{{ STATIC_URL }}/bootstrap/css/bootstrap.css</p>-->
<!--<h2> Hello welcome to online test</h2>-->
<!--<input type="text" name="userid" placeholder="Username"/>-->
<!--<input type="text" name="password" placeholder="password" />-->
<!--<input type="submit" value="Login" class="btn btn-default"/>-->

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label>Enter User name</label>
    <input type="text" name="username" id="username" />
    <label>Enter Password</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="Login">
</form>

<!--<head>-->
    <!--<link rel="stylesheet" href="style.css" />-->

<!--</head>-->

<!--<body>-->
    <!--<div id="sidebar">-->
        <!--{% block sidebar %}-->
        <!--<ul>-->
            <!--<li><a href="/">Home</a></li>-->
            <!--<li><a href="/blog/">Blog</a></li>-->
        <!--</ul>-->
        <!--{% endblock %}-->
    <!--</div>-->

    <!--<div id="content">-->
        <!--{% block content %}{% endblock %}-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->